<!doctype html>
<html lang="en" class="rykn0wxx no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="rykn0wxx" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
		<title>rykn0wxx</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<script type="text/javascript">
			document.documentElement.className = "rykn0wxx js";
		</script>

		<%= tag :meta, name: 'turbolinks-root', content: '/' %>
		<%= tag :meta, name: 'turbolinks-cache-control', content: 'no-preview' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
		<%= render "shared/styles_css" %>
  </head>

  <body class="auth">
		<div class="wrapper login-sidebar login-register">

			<div class="login-box card">
				<div class="card-body">
					<form class="form-horizontal form-material">
						<div class="form-group mt-40">
              <div class="col-xs-12">
                <input class="form-control" type="text" required="" placeholder="Username">
              </div>
            </div>
					  <div class="form-group row">
					    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="col-form-label-sm">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="colFormLabel" placeholder="col-form-label">
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control form-control-lg" id="colFormLabelLg" placeholder="col-form-label-lg">
					    </div>
					  </div>
					</form>
				</div>
			</div>

			<div class="txt-fld-container">
		    <div class="md-txt-fld with-float-lbl">
		      <input type="text" id="hero-text-field-id" class="md-txt-fld_input" />
		      <label for="hero-text-field-id" class="md-float-lbl">Standard</label>
		    </div>
		  </div>

		</div>
		<%= render "shared/scripts_js" %>
  </body>
</html>
